.container {
	margin: auto 50px;

}

.canvas {
	width: 100px;
	height: 100px;
	box-shadow: 100px 100px #000,
	200px 200px #78bc5a,
	
}

/*.canvas { 
width : 26px; 
height : 26px; 
box-shadow : 26px 26px #52def0,
26px 52px #52def0,
26px 78px #52def0,
26px 104px #52def0,
26px 130px #52def0,
26px 182px #52def0,
26px 156px #52def0,
26px 208px #52def0,
26px 234px #52def0,
26px 286px #52def0,
26px 312px #52def0,
26px 260px #52def0,
52px 26px #52def0,
78px 26px #52def0,
130px 26px #52def0,
104px 26px #52def0,
156px 26px #52def0,
208px 26px #52def0,
182px 26px #52def0,
234px 26px #52def0,
260px 26px #52def0,
312px 26px #52def0,
286px 26px #52def0,
338px 26px #52def0,
364px 26px #52def0,
390px 26px #52def0,
416px 26px #52def0,
442px 26px #52def0,
468px 26px #52def0,
494px 26px #52def0,
494px 52px #52def0,
494px 78px #52def0,
494px 104px #52def0,
494px 130px #52def0,
494px 156px #52def0,
494px 182px #52def0,
494px 208px #52def0,
26px 338px #52def0,
26px 364px #52def0,
26px 390px #52def0,
26px 416px #52def0,
26px 442px #52def0,
52px 442px #52def0,
78px 442px #52def0,
104px 442px #52def0,
130px 442px #52def0,
156px 442px #52def0,
182px 442px #52def0,
208px 442px #52def0,
234px 442px #52def0,
260px 442px #52def0,
286px 442px #52def0,
312px 442px #52def0,
338px 442px #52def0,
364px 442px #52def0,
390px 442px #52def0,
416px 442px #52def0,
442px 442px #52def0,
468px 442px #52def0,
494px 442px #52def0,
494px 416px #52def0,
494px 390px #52def0,
494px 364px #52def0,
494px 338px #52def0,
494px 312px #52def0,
494px 286px #52def0,
494px 260px #52def0,
494px 234px #52def0,
52px 52px #526cf0,
78px 52px #526cf0,
104px 52px #526cf0,
156px 52px #526cf0,
234px 78px #526cf0,
208px 156px #526cf0,
104px 208px #526cf0,
182px 286px #526cf0,
312px 312px #526cf0,
338px 312px #526cf0,
364px 312px #526cf0,
364px 286px #526cf0,
338px 208px #526cf0,
390px 208px #526cf0,
416px 286px #526cf0,
416px 364px #526cf0,
208px 390px #526cf0,
104px 338px #526cf0,
130px 286px #526cf0,
234px 208px #526cf0,
286px 260px #526cf0,
260px 286px #526cf0,
364px 78px #526cf0,
416px 130px #526cf0,
260px 104px #526cf0,
104px 104px #526cf0,
52px 104px #526cf0,
182px 208px #526cf0,
312px 416px #526cf0,
286px 156px #f0e352,
338px 130px #f0e352,
286px 208px #f0e352,
130px 130px #f0e352,
130px 156px #f0e352,
130px 208px #f0e352,
78px 260px #f0e352,
78px 338px #f0e352,
104px 390px #f0e352,
156px 390px #f0e352,
52px 416px #f0e352,
442px 52px #f0e352,
390px 52px #f0e352,
286px 52px #f0e352,
390px 234px #f0e352,
338px 286px #f0e352,
390px 390px #f0e352,
468px 416px #f0e352,
468px 312px #f0e352,
416px 338px #f0e352,
442px 208px #f0e352,
260px 338px #f0e352,
182px 104px #f05287,
156px 156px #f05287,
78px 156px #f05287,
156px 260px #f05287,
78px 286px #f05287,
182px 338px #f05287,
312px 338px #f05287,
364px 390px #f05287,
182px 78px #f05287,
130px 78px #f05287,
52px 208px #f05287,
130px 338px #f05287,
156px 416px #f05287;*/